# PyCharm
.idea/

# Python virtualenv environment folders
env/
env3/
.env/
.venv/
.env

# Bot local files
*.db
store/

GREETING
# Config file
#config.yaml

# Python
__pycache__/
*.egg-info/
build/
dist/


# Log files
*.log
