repos:
  - repo: "local"
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'poetry run mypy "$@" || true'
        language: system

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-symlinks
      - id: check-docstring-first
      - id: end-of-file-fixer
      - id: debug-statements
      - id: mixed-line-ending
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.2
    hooks:
      - id: pycln
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black"]
